<div class="container-fluid" id="contacts">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-4 col-lg-4 col-xl-4 textForma">
      <div class="topCard contact">
        <h3>LinkedIn</h3>
      </div>
      <div class="cards">
        <p class="first">Rejoignez moi sur linkedIn.</p>
        <a href="https://www.linkedin.com/in/sébastien-larrivée-28445217a/" title="Mon Linkedin.">
        <img class="contact" src="assets/img/linkedin.png" alt="Logo LinkedIn">
        </a>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-4 col-lg-4 col-xl-4 textForma">
      <div class="topCard contact">
        <h3>Github</h3>
      </div>
      <div class="cards">
        <p class="first">Suivez moi sur Github.</p>
        <a href="https://github.com/Gormagrim" title="Mon Github.">
        <img class="contact" src="assets/img/github.png" alt="Logo Github">
        </a>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-4 col-lg-4 col-xl-4 textForma">
      <div class="topCard contact">
        <h3>Divers</h3>
      </div>
      <div class="cards contactFinalCards">
        <p class="first"><a href="tel:+33621254718" title="Mon mobile.">06.21.25.47.18</a></p>
        <p><a href="mailto:s.larrivee27@gmail.com" title="Mon mail.">s.larrivee27@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
