<div class="container-fluid" id="experiences">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-0 offset-lg-2 col-lg-4 textForma">
      <div class="topCard">
        <h3>Conducteur de travaux BTP / Génie civil</h3>
      </div>
      <div class="cards">
        <p>2001-2018</p>
        <p>Réalisation de devis, préparation, suivis des travaux, réception et facturation clients.</p>
        <p>Encadrement de 5 à 10 équipes de 2 à 6 personnes.</p>
        <p>Diverses entreprises sur le territoire Picard.</p>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-4 offset-lg-6 col-lg-4 textForma">
      <div class="topCard">
        <h3>Developpeur web</h3>
      </div>
      <div class="cards">
        <p>2018-aujourd'hui</p>
        <p>Réalisation d'un site dédié aux cryptomonnaies.</p>
        <p>Réalisation de projets professionnels comme des paniers e-commerce Jquery et AngularJS.</p>
        <p>Réalisation d'un site de mise en relation de particuliers avec les professionnels du bâtiment dans le cadre du titre professionnel.</p>
      </div>
    </div>
  </div>
</div>
