<div class="container-fluid" id="formations">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-4 textForma">
      <div class="topCard formation">
        <h3>Titre Professionnel "Développeur web et web mobile" RNCP 31114 niveau III BAC+2</h3>
      </div>
      <div class="cards">
        <p class="first">2018-2019</p>
        <p>Formation de 6 mois ou j'ai pu apprendre :</p>
        <p>html5, css3, Bootstrap, JavaScript, Jquery, AngularJS, Canvas, Php, Symfony,...</p>
        <p>NOVEI Formation à Noyon(60)</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-4 offset-lg-6 col-lg-4 textForma">
      <div class="topCard">
        <h3>DUT Génie Civil</h3>
      </div>
      <div class="cards formation">
        <p class="first">2001-2003</p>
        <p>Formation de deux ans en apprentissage.</p>
        <p>Contrat d'apprentissage avec l'entreprise DEHE TP à Noyon(60)</p>
        <p>IUT de Béthune(62)</p>
      </div>
    </div>
  </div>
</div>
