<div class="container-fluid" id="loisirs">
  <div class="row">
    <div class="col-12 col-md-12 offset-lg-2 col-lg-8 textForma">
      <div class="topCard loisir">
        <h3>Voyages</h3>
      </div>
      <div class="cards">
        <p>Passionné par les voyages, l'art et les cultures, j'ai eu la chance de pouvoir parcourir le monde.</p>
        <p>Réunion, République Dominicaine, Maurice, Dubaï, Bali, Grèce, Rhodes, Canarie, Turquie,...</p>
      </div>
    </div>
    <div class="col-12 col-md-12 offset-lg-2 col-lg-8 textForma">
      <div class="topCard loisir">
        <h3>Nouvelles technologies</h3>
      </div>
      <div class="cards">
        <p>Je suis également passionné par l'informatique et les nouvelles technoligies.</p>
        <p>Ma passion pour la blockchain m'a poussé à investir aussi bien dans les cryptomonnaies que dans le matériel de minage.</p>
        <p>J'ai eu la chance de m'y intéresser à une époque ou le marché était extrêment interressant.</p>
      </div>
    </div>
    <div class="col-12 col-md-12 offset-lg-2 col-lg-8 textForma">
      <div class="topCard loisir">
        <h3>Gaming</h3>
      </div>
      <div class="cards">
        <p>Quand il me reste un peu de temps, j'ai me perdre dans un bon jeu d'aventure orienté RPG.</p>
      </div>
    </div>
    </div>
</div>
