
<div class="container-fluid" id="presentation">
  <div class="row">
    <div class="col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      <div class="topCard">
        <h3>Bienvenue sur mon CV numérique !</h3>
      </div>
      <div class="cards textForma">
        <p>Conducteur de travaux sur le secteur Picard depuis 2001, j'ai, au fil des ans, développé une palette de compétences indispensables à la bonne exécution de ce métier exigeant.</p>
        <p>Attiré depuis mon plus jeune âge par l'informatique et les nouvelles technologies, j'ai récemment décidé d'effectuer un virage à 90 degrés dans ma carrière afin de devenir développeur web.</p>
        <p>La soif d'apprendre associée à une motivation débordante m'a poussé à m'inscrire à l'école E2N by La Manu afin d'y suivre une formation intensive de 6 mois qui aboutira à un titre professionnel "Développeur web et web mobile "RNCP 31114 niveau III bac +2.</p>
        <p>En parallèle de cette formation et avec un groupe de travail lui aussi extrêmement motivé, j'apprends d'autres langages indispensables à la réalisation de mes futurs projets.</p>
        <p>L'ensemble de ce Cv a été réalisé par mes soins après 2 mois de formation environ.</p>
      </div>
    </div>
  </div>
</div>
