/* Début de modification de la navbar */
.bg {
  background-image: url(../img/lindos2.jpg);
  font-family: 'Ubuntu', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 797;
}

.navbar {
  background-color: #2f4f4f;
}

.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #072247;
  outline: 0;
}

.navbar-dark .navbar-nav .nav-link:focus {
  border-left: 1px solid #072247;
  border-right: 1px solid #072247;
  border-bottom: 1px solid #072247;
  border-radius: 5px;
  background-color: #2f4f4f;
  color: #072247;
  outline: 0;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:hover {
  color: #072247;
  outline: 0;
}

.navbar-expand-lg .navbar-collapse {
  margin-left: 1em;
}

@media screen and (min-width: 400px) {
  .navbar-dark .navbar-nav .nav-link {
    margin: 2px;
    display: inline-block;
  }
}

/* Fin de modification de la navbar */

/* Début de la page présentation */
#presentation {
  font-family: 'Ubuntu', sans-serif;
}

#presentation div .topCard {
  margin-top: 10.56em;
}

#presentation div .textForma {
  margin-bottom: 10.56em;
}

.firstPresentation {
  padding-top: 1em;
}

div .text {
  margin-bottom: 10.49em;
}

/* Début de la page formations */

.textForma p {
  text-align: center;
  font-size: 1.25em;
  color: #2f4f4f;
  font-weight: bold;
}

h3, h2, h1 {
  color: #fff;
  text-align: center;
  margin-top: 0.18em;
  padding-bottom: 1em;
}

h1 {
  padding-top: 0.8em;
}

div.topCard.formation {
  margin-top: 2.7em;
}

div.cards.formation {
  margin-bottom: 3.35em;
}

.topCard {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 1px solid #2f4f4f;
  border-left: 1px solid #2f4f4f;
  border-top: 1px solid #2f4f4f;
  margin-top: 2.5em;
  background-color: #2f4f4f;
}

.topCard h3 {
  padding-top: 0.5em;
}

.cards {
  margin-top: -0.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 2px solid #2f4f4f;
  border-right: 2px solid #2f4f4f;
  border-bottom: 2px solid #2f4f4f;
  margin-bottom: 1em;
  background-color: #fff;
  opacity: 0.8;
}

.first {
  padding-top: 1em;
}

/* Début de la page expériences */

.experiences {
  margin-bottom: 1.9em;
}

/* Footer */
div.footer p {
  margin-top: 0.2em;
  text-align: center;
  color: #fff;
  font-size: 0.9375em;
}

.footerText {
  padding-top: 1em;
  margin: 0;
}

.footer {
  float: left;
  width: 100%;
  background-color: #2f4f4f;
  height: 3.75em;
  text-align: center;
  z-index: 999;
}

.footerFirst {
  margin-top: 51.4rem;
}

/* Début de la page Réalisation */

#basketButton {
  border: 1px solid orange;
  border-radius: 0.3125em;
  background-color: orange;
  color: #fff;
}

#basketButton:hover {
  color: grey;
}

div.center-block {
  text-align: center;
}

div.modal-footer {
  text-align: center;
}

img.card-img-top {
  margin-top: 0.5em;
}

.card-img-top {
  height: 17.5em;
  width: 17.5em;
  text-align: center;
  margin: 0 auto;
  padding-top: 0.2em;
}

.card-group {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

p.desc {
  text-align: justify;
}

.card-group h3 {
  color: #2f4f4f;
}

.card {
  opacity: 0.7;
}

img {
  height: 2.5em;
}

@media screen and (max-width: 540px) {
  .table thead tr th {
    font-size: 0.75em;
  }

  .table tbody tr td {
    font-size: 0.75em;
  }

  .table thead tr th.hide {
    display: none;
  }

  .table tbody tr td.hide {
    display: none;
  }
}

.table td .table th {
  vertical-align: center;
}

div.basketTitle p {
  text-align: center;
  color: #fff;
}

/* Réalisation */

#realisations .reaCards {
  margin-bottom: 3.8em;
}

/* Fenêtre modale */

div.modal-content {
  font-family: bold;
}

#buttonAdd {
  height: 1.875em;
  width: 1.875em;
  background-color: #2f4f4f;
  border: 1px solid #2f4f4f;
  border-radius: 4px;
  color: #fff;
}

#buttonLess {
  height: 1.875em;
  width: 1.875em;
  background-color: #2f4f4f;
  border: 1px solid #2f4f4f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

#buttonRemove {
  height: 1.875em;
  width: 1.875em;
  background-color: #2f4f4f;
  border: 1px solid #2f4f4f;
  border-radius: 4px;
  color: #fff;
}

#commandeButton {
  background-color: #2f4f4f;
  border: 1px solid #2f4f4f;
  border-radius: 4px;
  color: #fff;
}

#removeProduct {
  background-color: #2f4f4f;
  border: 1px solid #2f4f4f;
  border-radius: 4px;
  color: #fff;
}

#ValidateButton {
  background-color: #2f4f4f;
  border: 1px solid #2f4f4f;
  border-radius: 4px;
  color: #fff;
}

#ValidateButton:hover {
  background-color: orange;
  color: #2f4f4f;
}

.btn {
  display: block;
  margin: 0 auto;
}

.table {
  border-color: #2f4f4f;
}

/* Loisirs */

div.topCard.loisir {
  margin-top: 3.44em;
}

.finalCards {
  margin-bottom: 2.35em;
}

/* Contacts */

div.cards img {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.cards p a {
  text-decoration: none;
  color: #2f4f4f;
}

div.topCard.contact {
  margin-top: 3.36em;
}

.contactFinalCards {
  margin-bottom: 2.34em;
}

/* Début de la section me */

h4 {
  padding-bottom: 1em;
  text-align: center;
  color: #2f4f4f;
  font-size: 2em;
  padding-top: 1em;
}

div.topCard.me {
  margin-top: 13.875em;
}

div.cards.me {
  margin-bottom: 13.875em;
}

@media screen and (max-width: 400px) {
  div.footer p {
    font-size: 0.625em;
  }

  #me {
    background-image: url(../img/cap2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #contacts {
    background-image: url(../img/lindos2_2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #loisirs {
    background-image: url(../img/rhodos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #realisations {
    background-image: url(../img/lindos2_22.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #experiences {
    background-image: url(../img/plagne2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #formations {
    background-image: url(../img/temple2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #presentation {
    background-image: url(../img/lanz2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
