/* Début de modification de la navbar */
.bg {
  font-family: 'Ubuntu', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 797;
}

.navbar {
  background-color: #0094b1;
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #072247;
  outline: 0;
}

.navbar-dark .navbar-nav .nav-link:focus {
  border-left: 1px solid #072247;
  border-right: 1px solid #072247;
  border-bottom: 1px solid #072247;
  border-radius: 5px;
  background-color: #0094b1;
  color: #072247;
  outline: 0;
}

.navbar-dark .navbar-brand {
  color: white;
}

.navbar-dark .navbar-brand:hover {
  color: #072247;
  outline: 0;
}

.navbar-expand-lg .navbar-collapse {
  margin-left: 1em;
}

@media screen and (min-width: 400px) {
  .navbar-dark .navbar-nav .nav-link {
    margin: 2px;
    display: inline-block;
  }
}

/* Fin de modification de la navbar */

/* Début de la page présentation */
#presentation {
  font-family: 'Ubuntu', sans-serif;
}

div .text p {
  text-align: justify;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

div .text {
  margin-bottom: 10.49em;
}

h2 {
  font-size: 50px;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center;
  color: white;
}

/* Début de la page formations */

#formations {
  padding-top: 1.5em;
}

div.textForma p {
  text-align: justify;
  text-align: center;
  font-size: 20px;
  color: #0094b1;
  font-weight: bold;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 0.25em;
  padding-bottom: 0.2em;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 0.18em;
  padding-bottom: 1em;
}

div.topCard.formation {
  margin-top: 2.7em;
}

.topCard {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 1px solid #0094b1;
  border-top: 1px solid #0094b1;
  margin-top: 2.5em;
  background-color: #0094b1;
}

.topCard h3 {
  padding-top: 0.5em;
}

.cards {
  margin-top: -0.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 2px solid #0094b1;
  border-right: 2px solid #0094b1;
  border-bottom: 2px solid #0094b1;
  margin-bottom: 2.7em;
  background-color: white;
  opacity: 0.8;
}

/* Début de la page expériences */

/* Footer */
div.footer p {
  margin-top: 0.2em;
  text-align: center;
  color: white;
  font-size: 15px;
}

.footerText {
  margin: 0;
}

.footer {
  float: left;
  width: 100%;
  background-color: #0094b1;
  height: 60px;
  text-align: center;
  position: absolute;
  z-index: 999;
}

/* Début de la page Réalisation */

#basketButton {
  border: 1px solid orange;
  border-radius: 5px;
  background-color: orange;
  color: white;
}

#basketButton:hover {
  color: grey;
}

div.center-block {
  text-align: center;
}

div.modal-footer {
  text-align: center;
}

.card-img-top {
  height: 280px;
  width: 280px;
  text-align: center;
  margin: 0 auto;
}

.card-group {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

p.desc {
  text-align: justify;
}

.card-group h3 {
  color: #0094b1;
}

.card {
  opacity: 0.7;
}

img {
  height: 40px;
}

@media screen and (max-width: 540px) {
  .table thead tr th {
    font-size: 12px;
  }

  .table tbody tr td {
    font-size: 12px;
  }

  .table thead tr th.hide {
    display: none;
  }

  .table tbody tr td.hide {
    display: none;
  }
}

.table td .table th {
  vertical-align: center;
}

div.basketTitle p {
  text-align: center;
  color: white;
}

/* Fenêtre modale */

div.modal-content {
  font-family: bold;
}

#buttonAdd {
  height: 30px;
  width: 30px;
  background-color: #0094b1;
  border: 1px solid #0094b1;
  border-radius: 4px;
  color: white;
}

#buttonLess {
  height: 30px;
  width: 30px;
  background-color: #0094b1;
  border: 1px solid #0094b1;
  border-radius: 4px;
  color: white;
  text-align: center;
}

#buttonRemove {
  height: 30px;
  width: 30px;
  background-color: #0094b1;
  border: 1px solid #0094b1;
  border-radius: 4px;
  color: white;
}

#commandeButton {
  background-color: #0094b1;
  border: 1px solid #0094b1;
  border-radius: 4px;
  color: white;
}

#removeProduct {
  background-color: #0094b1;
  border: 1px solid #0094b1;
  border-radius: 4px;
  color: white;
}

#ValidateButton {
  background-color: #0094b1;
  border: 1px solid #0094b1;
  border-radius: 4px;
  color: white;
}

#ValidateButton:hover {
  background-color: orange;
  color: #0094b1;
}

.btn {
  display: block;
  margin: 0 auto;
}

.table {
  border-color: #0094b1;
}

/* Loisirs */

div.topCard.loisir {
  margin-top: 3.45em;
}

/* Contacts */

div.cards img {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.cards p a {
  text-decoration: none;
  color: #0094b1;
}

div.topCard.contact {
  margin-top: 3.4em;
}

/* Début de la section me */

div.topCard.me {
  margin-top: 15.8em;
}

div.cards.me {
  margin-bottom: 16em;
}

@media screen and (max-width: 400px) {
  div.footer p {
    font-size: 10px;
  }

  #me {
    background-image: url(../img/cap2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #contacts {
    background-image: url(../img/lindos2_2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #loisirs {
    background-image: url(../img/rhodos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #realisations {
    background-image: url(../img/lindos2_22.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #experiences {
    background-image: url(../img/plagne2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #formations {
    background-image: url(../img/temple2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  #presentation {
    background-image: url(../img/lanz2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
